html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Monserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2-Regular"),
    url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2-Medium"),
    url("../fonts/Exo2-Medium.woff2") format("woff2"),
    url("../fonts/Exo2-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo2";
  src: local("Exo2-Bold"),
    url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* glob */
:root {
  // --primaryColor: #327282;
  --primaryColor: #4E8EB1;
  --lightGrayColor: #7D7D7D;
  --lightColor: #DEDEDE;
  --whiteColor: #ffffff;
  --blackColor: #303030;

  --borderRadius: 25px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn-reset {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.btn {
  min-height: 45px;
  min-width: 200px;
  border: 1px solid var(--primaryColor);
  border-radius: var(--borderRadius);
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: var(--whiteColor);
  transition: background-color .2s ease-in-out, box-shadow .1s ease-in-out;

  &:hover:not(:focus-visible) {
    background-color: #c5e7fa;
  }

  &:active:not(:focus-visible) {
    // box-shadow: 0px 0px 7px 2px rgba(34, 60, 80, 0.25) inset;
    background-color: #a4d3ee;
  }

  &:focus-visible {
    outline: none;
    background-color: #c5e7fa;
  }

  &--dark {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
  
    &:hover:not(:focus-visible) {
      background-color: #5ea7ce;
    }

    &:active:not(:focus-visible) {
      // box-shadow: 0px 0px 7px 2px rgba(34, 60, 80, 0.25) inset;
      background-color: #48809e;
    }
  
    &:focus-visible {
      outline: none;
      background-color: #5ea7ce;
    }
  }

  &--cabinet {
    background-image: url('../img/profile-man.svg');
    background-position: left 20px center;
    background-repeat: no-repeat;
    padding-left: 40px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--lightColor);
  }

  &__title {
    color: var(--blackColor);
    font-family: 'Exo2', sans-serif;
    font-size: 48px;
    font-weight: 700;
  }
}

// .fixed {
//   position: fixed;
//   top: 0;
//   // left: 0;
//   // right: 0;
// }

// Модальное окно авторизации
.modal {
	position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10000;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease, visibility .3s ease;

  &__window {
    position: relative;
    width: 500px;
    min-height: 400px;
    padding: 60px 50px;
    background-color: var(--whiteColor);
    box-shadow: 1px 0px 15px 1px rgba(34, 60, 80, 0.2);
    // transform: scale(0) perspective(300px) rotateX(30deg);
    transform: scale(0);
    transition: transform .3s ease;
  }

  &__btn-close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg line {
      transition: stroke .3s ease;
    }

    &:hover svg line {
      stroke: red;
    }
  }

  &__info {
    margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    color: var(--lightGrayColor);
  }
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal.open .modal__window {
  transform: scale(1);
}

.modal-form {
  &__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    padding: 15px 0;

    &::placeholder {
      color: var(--lightGrayColor);
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__title {
    font-size: 28px;
    font-family: 'Exo2', sans-serif;
  }

  &__body {
    margin-bottom: 65px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    border-radius: 25px;
    min-width: 180px;
  }
}

.body-hidden {
  overflow: hidden;
}

/* header-top */
.header {
  z-index: 1000;
  background-color: #fff;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 100px;
    height: 65px;
    margin-right: 12px;
  }

  &__logo:focus {
    outline: none;
  }

  &__name {
    font-family: 'Exo2', sans-serif;
    font-weight: 600;
    width: 212px;
    font-size: 12px;
    color: var(--primaryColor);
    text-transform: uppercase;
  }

  &__info {
    padding-left: 23px;
    font-size: 14px;
    font-weight: 500;
    color: #2c2c2c;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 60px;
    }

    &--phone {
      background-image: url('../img/phone.svg');
    }

    &--location {
      background-image: url('../img/location.svg');
    }
  }
}

.info {
  &__link {
    transition: color .2s ease-in-out;

    &:hover:not(:focus-visible) {
      color: var(--primaryColor);
    }

    &:active:not(:focus-visible) {
      color: #386077;
    }

    &:focus-visible {
      outline: none;
      background-color: rgb(253, 220, 142);
    }

  }

  &__subtitle {
    display: block;
    font-size: 10px;
    color: var(--lightGrayColor);
  }
}

.header-top {
  border-bottom: 1px solid #DEDEDE;
  padding-top: 15px;
  padding-bottom: 15px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__center {
    display: flex;
    align-items: center;
  }
}

/* header-bottom */
.header-bottom {
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DEDEDE;
  background-color: var(--whiteColor);

  &__search {
    position: absolute;
    right: 0;
    top: -14px;
    min-height: 45px;
    width: 250px;
    border: 1px solid var(--lightColor);
    border-radius: var(--borderRadius);
    padding: 12px 40px 12px 20px;
    outline: none;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    transition: .35s ease-out;
  }

  &__search:focus {
    border-color: var(--primaryColor);
    width: 100%;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &__left {
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__link {
    transition: color .3s ease-in-out;
  }

  &__link:hover {
    color: var(--primaryColor);
  }
}


/* hero */
.hero {
  position: relative;
  background-color: var(--primaryColor);
  padding-top: 0;
  padding-bottom: 0;

  &__container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('../img/doc.svg');
    background-repeat: no-repeat;
    background-position: center right;
  }

  &__title {
    max-width: 1100px;
    margin-bottom: 40px;
    font-family: 'Exo2', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  
    color: var(--whiteColor);
  }

  &__motto {
    font-size: 96px;
    line-height: 100%;
  }

  &__name {
    position: absolute;
    top: 95px;
    left: 650px;
    max-width: 450px;
    font-size: 24px;
    line-height: 100%;
  }
}

/* services */
.services {
  padding-top: 50px;
  padding-bottom: 50px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 300px;
  border: 1px solid var(--lightColor);
  border-radius: var(--borderRadius);
  padding: 25px;
  transition: transform .25s ease-in-out, box-shadow .25s ease-in-out;

  &__title {
    border-bottom: 1px solid var(--lightColor);
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: var(--blackColor);
    font-family: 'Exo2', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  &__list {
    margin-bottom: auto;
  }

  &__service {
    color: var(--lightGrayColor);
  }

  &__service:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0px 0px 10px 0px var(--lightColor);
}

/* news */
.news {
  &__list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 350px;
    border: 1px solid var(--lightColor);
    border-radius: 5px 5px 0 0;
    padding: 165px 15px 15px 15px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  &__text {
    color: var(--lightGrayColor);
    letter-spacing: -0.66px;
    margin-bottom: 20px;
  }

  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }

  &__btn {
    margin-top: auto;
  }

  .date {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 120px;
    margin-bottom: 20px;
    color: var(--lightGrayColor);
    font-family: 'Exo2', sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.66px;

    &__day {
      color: var(--blackColor);
      font-size: 40px;
      letter-spacing: -2.2px;
    }

    &__month-year {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 130%;
    }
  }
}

/* questions */
.questions {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.accordion {
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;

    svg {
      transition: .3s;
    }

    svg path {
      transition: .9s;
    }

    &.active {
      background-color: var(--lightColor);

      svg {
        transform: rotate(-180deg);
      }
    }

    &:hover,
    &:focus {
      background-color: var(--lightColor);

      svg path:first-child {
        stroke: var(--primaryColor);
      }

      svg path:last-child {
        fill: var(--primaryColor);
      }
    }
  }

  &__text {
    max-height: 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    color: var(--lightGrayColor);
    transition: max-height 0.2s ease-out;
    background-color: var(--whiteColor);

    p {
      padding: 20px;
    }
  }
}

/* about */
.about {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  &__picture {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    background-color: var(--lightColor)
  }

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Exo2', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    color: var(--lightGrayColor);
    font-size: 14px;
  }
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--whiteColor);
  background-color: var(--primaryColor);

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid var(--lightColor);
    padding-bottom: 30px;
  }

  &__center {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__title {
    text-transform: uppercase;
    font-family: 'Exo2', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__social {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__links {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }

  &__btn:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts {
  &__email {
    display: inline-block;
    margin-bottom: 15px;
  }

  &__address {
    margin-bottom: 15px;
    font-style: normal;
  }

  &__phones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    margin-bottom: 30px;
  }
}

.phone {
  &__title {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    color: var(--lightColor);
  }
}

.footer-nav {
  &--left {
    text-align: right;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    transition: .3s;
  }

  &__link:hover {
    color: #D2A94D;
  }

}